@use "../../scss/" as *;

/* Tabs Start */

.ease {
	-webkit-transition: all .5s;
	   -moz-transition: all .5s;
		 -o-transition: all .5s;
			transition: all .5s;
}

.tabs {
	position: relative;
}

.tabs > input,
.tabs > span {
	width: 20%;
	height: 60px;
	line-height: 60px;
	position: absolute;
	top: 0;
}

.tabs > input {
	cursor: pointer;
	filter: alpha(opacity=0);
	opacity: 0;
	position: absolute;
	z-index: 99;
}

.tabs > span {
	background: #fff;
	text-align: center;
	overflow: hidden;
    font-size: 16px;
    color: rgb(238, 77, 45);
}

.tabs > span i,
.tabs > span {
	-webkit-transition: all .1s ease;
	   -moz-transition: all .1s ease;
		 -o-transition: all .1s ease;
			transition: all .1s ease;
}

.recomender-header-img {
    width: 160px;
    height: 20px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.tabs > input:checked + span {
	background: #fff;
}

.tabs > input:checked + span {
	color: rgb(238, 77, 45);
    border-bottom: 4px solid rgb(238, 77, 45);
}

#tab-1, #tab-1 + span {
	left: 0;
}

#tab-2, #tab-2 + span {
	left: 20%;
}

.tab-content {
	padding: 80px 20px 20px;
	width: 100%;
	min-height: 340px;
}

.tab-content section {
	width: 100%;
	display: none;
}

#tab-1:checked ~ .tab-content #tab-item-1  {
	display: block;
}

#tab-2:checked ~ .tab-content #tab-item-2  {
	display: block;
}

/* effect-1 */

.effect-1 > input:checked + span {
	background: #fff;
}



.recomender-product {
    &-list {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 10px;
    }
    &-item {
        position: relative;
        color: rgba(0,0,0,.87);
        background-color: #fff;
        box-shadow: 0 1 2px 0 rgb(0 0 0 / 10%);
        border-radius: 2px;
        cursor: pointer;
        border: 1px solid transparent;
        z-index: 1;
        &:hover {
            border: 1px solid #ee4d2d;
            transform: translateY(-1px);
            z-index: 99;
        }
        &:hover .recomender-product-same{
            display: block;
            z-index: 99;
        }
    }
    &-text {
        padding: 10px;
    }
    &-name {
        width: 100%;
        font-size: 12px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    &-wrapper {
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 24px;
    }
    &-wrapper-price {
        color: #ee4d2d;
        &-value {
            font-size: 16px;
        }
    }
    &-wrapper-price-sale {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    &-buyed {
        color: rgba(0,0,0,.54);
        font-size: 12px;
    }
    &-sale {
        transform: scale(1.4);
        position: absolute;
        top: 5px;
        right: 5px;
        z-index: 3;
        background-color: rgba(255,212,36,.9);
        width: 26px;
        height: 25px;
        &-price {
            color: #ee4d2d;
            font-size: 8px;
            line-height: 5px;
            padding-top: 5px;
        }
        &-text {
            text-transform: uppercase;
            font-size: 9px;
            color: #fff;
        }
        &::after {
            content: "";
            width: 0;
            height: 0;
            left: 0;
            bottom: -3px;
            position: absolute;
            border-color: transparent rgba(255,212,36,.9);
            border-style: solid;
            border-width: 0 13px 3px;
        }
    }
    &-like {
        position: absolute;
        top: 10px;
        left: -3px;
        width: 65px;
        height: 18px;
        background-color: #f25220;
        border-radius: 2px;
        text-align: center;
        &-text {
            color: #fff;
            font-size: 12px;
            line-height: 18px;
        }
        &::after {
            position: absolute;
            border-top: 3px solid;
            border-left: 3px solid transparent;
            top: 17px;
            left: 0px;
            filter: brightness(60%);
            content: "";
        }
    }
    &-tag {
        position: absolute;
        top: 10px;
        left: -3px;
        width: 30px;
        height: 18px;
        background-color: #d0011b;
        border-radius: 2px;
        &-image {
            width: 20px;
            margin: 0 auto;
            padding-top: 5px;
        }
        &::after {
            position: absolute;
            border-top: 3px solid;
            border-left: 3px solid transparent;
            top: 17px;
            left: 0px;
            filter: brightness(60%);
            content: "";
        }
    }
    &-taitro {
        position: absolute;
        top: 57%;
        right: 10px;
        background-color: red;
        width: 46px;
        height: 18px;
        border-radius: 2px;
        background: rgba(0,0,0,.3);
        text-align: center;
        &-text {
            font-size: 12px;
            color: #fff;
            white-space: nowrap;
            line-height: 18px;
        }
    }
    &-sale-bottom {
        position: absolute;
        top: 82%;
        left: 10px;
        max-width: 70px;
        height: 16px;
        display: flex;
        color: #f69113;
        &-text {
            background-color: #f69113;
            color: #fff;
        }
    }
    &-same {
        position: absolute;
        display: none;
        width: 101.5%;
        bottom: 30;
        left: -1px;
        background-color: #ee4d2d;
        border: 1px solid #ee4d2d;
        height: 30px;
        text-align: center;
        z-index: 999;
        &-text {
            line-height: 30px;
            color: #fff;
            font-size: 14px;
        }
    }
}

.btn-loadmore {
    width: 30%;
    height: 40px;
    border: 1px solid rgba(0,0,0,.09);
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 3%);
    color: #555;
    font-size: 14px;
    background-color: #fff;
    &:hover {
        background: rgba(0,0,0,.02);
    }
    &-wrapper {
        width: 100%;
        padding: 30px 0 0;
        text-align: center;
    }
}

.scroll-to-top {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 100;
}